/* Coolors Exported Palette - coolors.co/daa89b-848898-2c0e37-72195a-690375 */

/* HSL
$color1: hsla(12%, 46%, 73%, 1);
$color2: hsla(228%, 9%, 56%, 1);
$color3: hsla(284%, 59%, 14%, 1);
$color4: hsla(316%, 64%, 27%, 1);
$color5: hsla(294%, 95%, 24%, 1);

/* RGB
$color1: rgba(218, 168, 155, 1);
$color2: rgba(132, 136, 152, 1);
$color3: rgba(44, 14, 55, 1);
$color4: rgba(114, 25, 90, 1);
$color5: rgba(105, 3, 117, 1); */

body{
  font-family: 'Raleway', sans-serif;
}

.container{
  background: #bc4e9c;  /* Respaldo*/
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table{
  width: 100%;
  border-spacing: 0;
}

.posicion{
  border-radius: 20px;
  background: #bc4e9c;
  padding: 0.4em;

}

.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
  background-color: #f3e5f5;
}

a{
  text-decoration: none;
  color: #690375;

}

.parrafo{
  line-height: 2em;
  text-align: justify;
  font-size: 1.2em;
}

i{
  color: #DAA89B;
}

.imagen{
  float: left;
  margin-right: 1em;
  height: 20em;
}

.title{
  border-bottom: solid 2px #bc4e9c;
  padding-bottom: 15px;
  color: #72195A;
  font-weight: 700;
  font-size: 2em;
}

.content{
  max-width: 950px;
  height: 80vh;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 1.8em;
  position: relative;
  box-shadow: 0 10px 3px rgba(0, 0, 0, 0.5);

}

@media (max-width:600px) {
  .content{
    padding: 1em;
    overflow:scroll;
  }

  td{
    display: inline-block;
    width: 100%;
  }

  td:nth-of-type(1){
    font-weight: bold;
    font-size: 1.5em;
    color:#72195A;
    text-shadow:0 8px 5px rgba(218, 168, 155, 0.9);
  }

  th{
    display: none;
  }
}

@media (min-height:550px) {
  .content{
    height: 500px;
  }
}

.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}

.closed{
  border-radius: 50%;
  color: white;
  background: #bc4e9c;
  display: inline-block;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23) ;
  cursor;
}
